<h2 class="header">Welcome to Blogger</h2>
<%= link_to "Sign Up", new_user_path%>
<%= link_to "View Posts", posts_path%>

<%- @user.each do |user| %>
  <div class="post_block">
    <h4><%= link_to user.username, user_path(user)%></h4>
  </div>
<% end %>