// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_block {
    border: 1px dotted black;
    margin: 0.5em;
    padding: 1em;
}
.header{
    text-align: center;
}